.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.multicolor {
  -webkit-animation: MULTICOLOR 1s infinite;
  -moz-animation: MULTICOLOR 1s infinite;
  -o-animation: MULTICOLOR 1s infinite;
  animation: MULTICOLOR 1s infinite;
}

@-webkit-keyframes MULTICOLOR {
  0% {
    background-color: #9f0;
    color: #f3c;
  }

  10% {
    background-color: #6ff;
    color: #f0c;
  }

  20% {
    background-color: #39f;
    color: #9f0;
  }

  30% {
    background-color: #3c0;
    color: #fff;
  }

  40% {
    background-color: #03f;
    color: #f90;
  }

  50% {
    background-color: #9f0;
    color: #f30;
  }

  60% {
    background-color: #f0c;
    color: #fff;
  }

  70% {
    background-color: #0ff;
    color: #f30;
  }

  80% {
    background-color: #9f0;
    color: #066;
  }

  90% {
    background-color: #f90;
    color: #03f;
  }

  100% {
    background-color: #03f;
    color: #f90;
  }
}

@-moz-keyframes MULTICOLOR {
  0% {
    background-color: #9f0;
    color: #f3c;
  }

  10% {
    background-color: #6ff;
    color: #f0c;
  }

  20% {
    background-color: #39f;
    color: #9f0;
  }

  30% {
    background-color: #3c0;
    color: #fff;
  }

  40% {
    background-color: #03f;
    color: #f90;
  }

  50% {
    background-color: #9f0;
    color: #f30;
  }

  60% {
    background-color: #f0c;
    color: #fff;
  }

  70% {
    background-color: #0ff;
    color: #f30;
  }

  80% {
    background-color: #9f0;
    color: #066;
  }

  90% {
    background-color: #f90;
    color: #03f;
  }

  100% {
    background-color: #03f;
    color: #f90;
  }
}

@-o-keyframes MULTICOLOR {
  0% {
    background-color: #9f0;
    color: #f3c;
  }

  10% {
    background-color: #6ff;
    color: #f0c;
  }

  20% {
    background-color: #39f;
    color: #9f0;
  }

  30% {
    background-color: #3c0;
    color: #fff;
  }

  40% {
    background-color: #03f;
    color: #f90;
  }

  50% {
    background-color: #9f0;
    color: #f30;
  }

  60% {
    background-color: #f0c;
    color: #fff;
  }

  70% {
    background-color: #0ff;
    color: #f30;
  }

  80% {
    background-color: #9f0;
    color: #066;
  }

  90% {
    background-color: #f90;
    color: #03f;
  }

  100% {
    background-color: #03f;
    color: #f90;
  }
}

@keyframes MULTICOLOR {
  0% {
    background-color: #9f0;
    color: #f3c;
  }

  10% {
    background-color: #6ff;
    color: #f0c;
  }

  20% {
    background-color: #39f;
    color: #9f0;
  }

  30% {
    background-color: #3c0;
    color: #fff;
  }

  40% {
    background-color: #03f;
    color: #f90;
  }

  50% {
    background-color: #9f0;
    color: #f30;
  }

  60% {
    background-color: #f0c;
    color: #fff;
  }

  70% {
    background-color: #0ff;
    color: #f30;
  }

  80% {
    background-color: #9f0;
    color: #066;
  }

  90% {
    background-color: #f90;
    color: #03f;
  }

  100% {
    background-color: #03f;
    color: #f90;
  }
}
